* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: start;
    background: lightseagreen;
}

form {
    display: flex;
    height: 80vh;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 45%;
}

.main {
    width: 950px;
    background: whitesmoke;
    padding: 15px;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px lightgray;
    margin: 30px;
}

.main fieldset {
    padding: 15px;
    border: 3px solid blue;
    border-radius: 10px;
}

.main fieldset legend {
    color: #0D2433;
    background: #FEB05E;
    padding: 5px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.counter {
    display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 5vh;
}

.counter button {
    width: 30px;
	height: 30px;
	font-size: 1.5em;
	line-height: 15px;
	border-radius: 5px;
	outline: none;
	border: none;
	color: black;
	cursor: pointer;
	background: transparent;
	box-shadow: inset -2px -2px 2px rgba(255,255,255,.2),
				inset 2px 5px 15px rgba(0,0,0,.5);
}

.counter button:active {
	box-shadow: inset 2px 2px 2px rgba(255,255,255,.1),
				inset -2px -5px 15px rgba(0,0,0,.5);
}

.counter .numscores,
.counter .dayscores {
	border-radius: 5px;
	outline: none;
	border: none;
	padding: 10px 0;
	width: 50px;
    height: 30px;
	text-align: center;
	font-size: 1.5em;
	color: black;
	margin: 0 10px;
	background: transparent;
	box-shadow: inset -2px -2px 2px rgba(255,255,255,.2),
				inset 2px 5px 15px rgba(0,0,0,.5);
}

[tooltip] {
    position: relative; /* opinion 1 */
}
  
/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
}

[tooltip]::after {
    content: attr(tooltip); /* magic! */
    
    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;
    
    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 50em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
}
  
/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}
  
/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}
  
/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}
  
/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
}
  
@keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
}
  
/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

.topicBody {
    display: flex;
	align-items: center;
	justify-content: center;
}

.topicbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    width: auto;
    border-bottom: 2px solid black;
}

.topicbox input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    padding: 0 35px 0 5px;
    color: black;
}

.editor {
    display: inline-flex;
    gap: 10px;
    font-family: monospace;
    line-height: 21px;
    background: #282a3a;
    border-radius: 2px;
    padding: 20px 10px;
}

.line-numbers {
    width: 20px;
    text-align: right;
}

.line-numbers span {
    counter-increment: linenumber;
}

.line-numbers span::before {
    content: counter(linenumber);
    display: block;
    color: red;
    font-size: 18px;
}

textarea {
    line-height: 18px;
    font-size: 18px;
    overflow-y: hidden;
    padding: 0;
    border: 0;
    background: #282a3a;
    color: #FFF;
    min-width: 500px;
    outline: none;
    resize: none;
}

.quiz-header #count-down {
    font-size: 1.6rem;
    font-weight: 700;
    background-color: orangered;
    padding: 5px;
    margin: 1px;
    color: #fff;
    border-radius: 5px;
}