@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f3; /* Фоновый цвет */
    font-size: 1.6rem;
    color: #2b3e51; /* Основной цвет текста */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.form-box {
    width: 80%;
    max-width: 600px; /* Максимальная ширина блока */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Белый фон */
    margin: 50px auto; /* Отступы сверху и снизу, автоматическое позиционирование по горизонтали */
}

.btn {
    background: #007bff; /* Синий цвет фона */
    color: #ffffff; /* Белый цвет текста */
    padding: 12px 24px; /* Поля вокруг текста */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s; /* Плавное изменение цвета при наведении */
    text-decoration: none; 
    display: block; /* Сделаем кнопки блочными элементами */
    margin: 10px auto; /* Выравнивание по центру */
}

.btn:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}

img {
    width: 50%;
    height: auto; 
    display: block; /* Сделаем изображение блочным элементом */
    margin: 0 auto 20px; /* Выравнивание по центру снизу */
}