@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background: lightseagreen;
	background-size: 400% 400%;
	height: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 550px;
    background: white;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.container .content {
    background-image: url("/css_files/RecoverPass.jpg");
    background-size: 100%;
    background-repeat: no-repeat; 
    width: 58%;
    height: 100%;
    border-radius: 10px;
}

.container .data-box {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    background: transparent;
}

.data-box .form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(20px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
}

.form-box h2 {
    font-size: 32px;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 340px;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    font-weight: 500;
    padding-right: 28px;
}

.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label{
    top: -5px;
}

.input-box ion-icon {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.send_letter {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: rgb(26, 127, 209);
    color: whitesmoke;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 200;
    transition: 0.3s;
}

.send_letter:hover{
    background-color: skyblue;
}

.register {
    font-size: 1.1em;
    color: black;
    text-align: center;
    margin: 25px 0 10px;
}

.register a {
    text-decoration: none;
    color: black;
    font-weight: 200;
}

.register a:hover {
    text-decoration: underline;
}