@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f3;
    font-size: 1.6rem;
    color: #2b3e51;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 1 0 300px; /* Увеличиваем минимальную ширину блока */
    background-color: #2b3e51;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    width: 100%;
}

.menu li {
    margin-bottom: 20px;
    width: 100%;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    width: calc(100% - 40px); /* Оставить место для отступов */
    margin: 0 auto; /* Центрируем элементы */
}

.menu a i {
    margin-right: 10px;
    font-size: 1.8rem;
    transition: color 0.3s;
}

.menu a:hover {
    background-color: #007bff;
    width: calc(100% - 40px); /* Поддерживаем ширину при наведении */
}

.menu a:hover i {
    color: #ffffff;
}

.content {
    flex: 3;
    padding: 20px;
    text-align: center;
}

.content h2 {
    margin-bottom: 20px;
}

.btn {
    background: #007bff;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
    display: block;
    margin: 10px auto;
}

.btn:hover {
    background-color: #0056b3;
}

img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}
.test {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.test h3 {
    margin-top: 0;
}

.test p {
    font-size: 1.4rem;
    color: #666666;
}

.test .btn {
    background: #007bff;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.test .btn:hover {
    background-color: #0056b3;
}
.test-topic {
    text-align: center;
    margin-bottom: 20px;
}

.answers {
    list-style: none;
    padding: 0;
    margin: 0;
}

.answers li {
    margin-bottom: 10px;
}