@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background-color: lightseagreen;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #2b3e51;
}

.form-box {
    background-color: #fff;
    width: 55%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

input {
    display: block;
    box-sizing: border-box;
    width: 50%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
}

input[type="text"],
input[type="file"],
input[type="email"],
input[type="password"]  {
  width: 50%;
  padding: 0 0 0 10px;
  margin: 0;
  color: black;
  border: 3px solid #c2c0ca;
  font-style: normal;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  background: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
input[type="password"]:focus {
  border-color: #3ca9e2;
}

input[type="text"]:focus:invalid,
input[type="email"]:focus:invalid,
input[type="file"]:focus:invalid,
input[type="password"]:focus:invalid {
  color: #cc1e2b;
  border-color: #cc1e2b;
}

input[type="text"]:valid ~ .validation,
input[type="email"]:valid ~ .validation,
input[type="file"]:valid ~ .validation,
input[type="pasword"]:valid ~ .validation {
  display: block;
  border-color: #0C0;
}

input[type="text"]:valid ~ .validation span,
input[type="email"]:valid ~ .validation span,
input[type="file"]:valid ~ .validation span,
input[type="passsword"]:valid ~ .validation span {
  background: #0C0;
  position: absolute;
  border-radius: 6px;
}

input[type="text"]:valid ~ .validation span:first-child,
input[type="email"]:valid ~ .validation span:first-child,
input[type="file"]:valid ~ .validation span:first-child,
input[type="password"]:valid ~ .validation span:first-child {
  top: 30px;
  left: 14px;
  width: 20px;
  height: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

input[type="text"]:valid ~ .validation span:last-child,
input[type="email"]:valid ~ .validation span:last-child,
input[type="file"]:valid ~ .validation span:last-child,
input[type="password"]:valid ~ .validation span:last-child {
  top: 35px;
  left: 8px;
  width: 11px;
  height: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

input[type="submit"] {
    border: none;
    display: block;
    background-color: #3ca9e2;
    color: whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover {
    background-color: #329dd5;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.register {
  font-size: 1em;
  color: black;
  text-align: center;
  margin: 25px 0 10px;
}

.register a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.register a:hover {
  text-decoration: underline;
}