<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание профиля преподавателя</title>
    <link rel="stylesheet" href="/css_files/style_new-lecturer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
    <header class="header">
        <nav class="navbar">

            <%
                if (typeof message !== 'undefined') {
                    %>
                        <div class="toast active">
                            <div class="toast-content">
                                <i class='bx bxs-bell-ring check'></i>

                                <div class="message">
                                    <span class="text text-1">Оповещение</span>
                                    <span class="text text-2"><%= message %></span>
                                </div>
                            </div>
                            <i class='bx bx-x-circle close'></i>
                            <div class="progress active"></div>
                        </div>
                    <%
                }
            %>
        </nav>
    </header>

    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="" method="post" enctype="multipart/form-data">
                    <br>
                    <h2>Новый преподаватель</h2>
                    <div class="inputbox">
                        <input type="text" name="surname" placeholder="Введите фамилию" required>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="name" placeholder="Введите имя" required>
                    </div>
                    <div class="inputbox">
                        <input type="text" name="patronim" placeholder="Введите отчество">
                    </div>
                    <div class="inputbox">
                        <input type="email" name="email" placeholder="Введите почту" required>
                    </div>

                    <div class="center_button">
                        <input id="f02" type="file" name="image" placeholder="Добавить фото профиля" />
                        <label for="f02">Добавить фото профиля</label>
                    </div>

                    <div class="btn_sign_up">
                        <input type="submit" value="Добавить преподавателя" class="btn_up">
                    </div>

                    <div class="auth">
                        <a href="/admin/dashboard">Вернуться обратно</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="/css_files/name_image.js"></script>
</body>
</html>