<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выберите тип тестирования</title>
    <link rel="stylesheet" href="/css_files/style_ChangeTest.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container">
        <img src="/css_files/image_ChangeTest.png" alt="Изображение теста">
        <h1>Выберите тип тестирования</h1>
        <a href="/constructor" class="btn">Тестирование знаний SQL</a><br>
        <a href="/ClassicConstructor" class="btn">Классическое тестирование</a>
    </div>
</body>

</html>

</html>
